<template>
    <div>
        <h1>Login</h1>
        <form @submit.prevent="handleSubmit" >
            <input type="email" placeholder="Ingrese Email" v-model.trim="email" >
            <input type="password" placeholder="Ingrese Contraseña" v-model.trim="password" >
            <button type="submit" :disabled="userStore.loadingUser"  >Ingresar</button>
        </form>
    </div>
</template>

<script setup>
    import { ref } from 'vue';
    import { useUserStore } from '../stores/user';
    //import {useRouter} from 'vue-router'

    const userStore  = useUserStore();
    //const router = useRouter();

    const email = ref('jerson@gmail.com')
    const password = ref('123456')


    const handleSubmit = async () => {
        console.log(email.value);
        console.log(password.value);
        if(!email.value || password.value.length < 6){
            return alert('llena los campos')
        }
        console.log('Procesando formulario');
        await userStore.loginUser(email.value, password.value)
        //router.push('/')
    }

</script>

